<meta charset="utf-8">
<title> Yazılım Mühendisliği - Ödev 3 </title>
<h1> Üç sayının toplamı - Yazılım Muhendisligi Odev 3<h1>
<form action="compute" method="post">
 <div>
<p> 1.Sayı </p>
<textarea name="sayi1"></textarea>
 </div>
 <div>
<p> 2.Sayı </p>
<textarea name="sayi2"></textarea>
 </div>
 <div>
<p> 3.Sayı </p>
 <textarea name="sayi3" ></textarea>
 </div>
 <input type="submit" >
 <p >Sonuc:{{result}} </p>
 </form>

